<!--部分テンプレートには、ローカル変数(@のインスタンス変数は使用しない)-->

<%= form_with model: book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <!--①f.submit(ボタンの名前=nil, オプション={})-->
    <!--②f.submitは名前を指定しなければform_withが勝手に判断し、-->
    <!-- →createアクションの場合：Create Bookと表記され-->
    <!-- →updateアクションの場合：Update Bookと表記される-->
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>