<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
<!--前提条件：@bookに本の情報が格納されている-->
<!--@book.userは投稿された本のuser情報-->
<!--user: @book.user：user(users/infoにあるuser情報)と@bookに格納されている本のuserがイコール という意味-->
      <%= render 'users/info', user: @book.user %>

      <h2 class="mt-3">New book</h2>
                           <!--Book.new：クラスメソッド-->

      <%= render 'form', book: @new_book %>
      <!--render 'form', book: Book.new ：ビューに直接定義するやり方①(どちらのやり方でも可能)-->
      <!--render 'form', book: @new_book：コントローラーで定義したものを使っているやり方②(どちらのやり方でも可能)--->
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>コメント数：<%= @book.book_comments.count %></td><!--@book.book_comments：bookのコメント-->
          <td><%= render "favorites/favorite", book: @book %></td>

          <% if @book.user == current_user%><!--@book.user == current_user 条件が満たされた場合、以下二つの機能を実装する-->
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>

      <%= render 'book_comments/comment', book: @book, book_comment: @book_comment  %>
    </div>
  </div>
</div>